<center>
<h1>üêç 08_python : Dictionaries </h3> 
</center> <br><br>

Today I explored **dictionaries** in Python ‚Äî one of the most powerful built-in data structures. A dictionary is a collection of **key-value pairs**, enclosed in **curly braces `{}`** and separated by a **colon `:`**.

#### Key Properties of Dictionaries:

* Dictionaries are **mutable** (we can add, update, or remove items).
* Keys must be **unique** and **immutable** (like strings, numbers, or tuples).
* Values can be **any data type**, including lists, tuples, or even other dictionaries.

#### Topics Covered:

* Creating dictionaries using `{}` or `dict()`
* Using **integer**, **string**, and **mixed-type** keys
* Accessing values using `[]` or `.get()`
* Working with nested data (lists, tuples, and dictionaries as values)
* Creating dictionaries from a sequence of keys using `fromkeys()`
* Updating, adding, and removing items using:

  * `update()`, `pop()`, `popitem()`, `del`, and `clear()`
* Copying dictionaries using `copy()`
* Looping through keys and values using `for` loop
* Checking membership using `in`
* Using built-in functions: `all()`, `any()`, `len()`, `id()`


####  Real-life Example:

Dictionaries are often used to store structured data like:

```python
employee = {
  'Name': 'Monower',
  'ID': 12345,
  'DOB': 2000,
  'Job': 'Data Scientist'
}
```

You can nest lists or even other dictionaries as values, and update or access any part easily.

# Create Dictionary

In [1]:
mydict = dict() # empty dictionary 
mydict

{}

In [2]:
mydict = {} # empty dictionary 
mydict

{}

In [3]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [4]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict() 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [5]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys 
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [6]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys 
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [7]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [8]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [9]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [10]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with 
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [11]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat', 'hat')} 
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [12]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}, 'B':('Bat' , 'cat', 'hat')} 
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [13]:
keys = {'a' , 'b' , 'c' , 'd'} 
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys 
mydict3

{'a': None, 'b': None, 'c': None, 'd': None}

In [14]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = 10 
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of 
mydict3

{'a': 10, 'b': 10, 'c': 10, 'd': 10}

In [15]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30] 
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of 
mydict3

{'a': [10, 20, 30], 'b': [10, 20, 30], 'c': [10, 20, 30], 'd': [10, 20, 30]}

In [16]:
value.append(40) 
mydict3

{'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

# Accessing Items

In [17]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [18]:
mydict[1] # Access item using key

'one'

In [19]:
mydict.get(1) # Access item using get() method

'one'

In [20]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [21]:
mydict1['Name'] # Access item using key

'Asif'

In [22]:
mydict1.get('job') # Access item using get() method

'Analyst'

# Add, Remove & Change Items

In [23]:
mydict1 = {'Name':'Akshay' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Germany'} 
mydict1

{'Name': 'Akshay', 'ID': 12345, 'DOB': 1991, 'Address': 'Germany'}

In [24]:
mydict1['DOB'] = 2000 # Changing Dictionary Items 
mydict1['Address'] = 'Delhi' 
mydict1

{'Name': 'Akshay', 'ID': 12345, 'DOB': 2000, 'Address': 'Delhi'}

In [25]:
dict1 = {'DOB':1995} 
mydict1.update(dict1) 
mydict1

{'Name': 'Akshay', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [26]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary 
mydict1

{'Name': 'Akshay',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [27]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method 
mydict1

{'Name': 'Akshay', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [28]:
mydict1.popitem() # A random item is removed

('Address', 'Delhi')

In [29]:
mydict1

{'Name': 'Akshay', 'ID': 12345, 'DOB': 1995}

In [30]:
del[mydict1['ID']] # Removing item using del method 
mydict1

{'Name': 'Akshay', 'DOB': 1995}

In [31]:
mydict1.clear() # Delete all items of the dictionary using clear method 
mydict1

{}

# Copy Dictionary

In [32]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [33]:
mydict1 = mydict # Create a new reference "mydict1"

In [34]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(1343028289344, 1343028289344)

In [35]:
mydict2 = mydict.copy() # Create a copy of the dictionary

In [36]:
id(mydict2) # The address of mydict2 will be different from mydict because mydic

1343028260096

In [37]:
mydict['Address'] = 'Dhaka'

In [38]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Dhaka'}

In [39]:
mydict1 # mydict1 will be also impacted as it is pointing to the same dictionary

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Dhaka'}

In [40]:
mydict2 # Copy of list won't be impacted due to the changes made in the original

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

# Loop through a Dictionary

In [41]:
mydict1 = {'Name':'Akshay' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Finland' }
mydict1

{'Name': 'Akshay', 'ID': 12345, 'DOB': 1991, 'Address': 'Finland'}

In [42]:
for i in mydict1: 
    print(i , ':' , mydict1[i]) # Key & value pair

Name : Akshay
ID : 12345
DOB : 1991
Address : Finland

In [43]:
for i in mydict1: 
    print(mydict1[i]) # Dictionary items

Akshay
12345
1991
Finland

# Dictionary Membership

In [44]:
mydict1 = {'Name':'Akshay' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Finland' }
mydict1

{'Name': 'Akshay', 'ID': 12345, 'DOB': 1991, 'Address': 'Finland'}

In [45]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [46]:
'Akshay' in mydict1 # Membership test can be only done for keys.

False

In [47]:
'ID' in mydict1

True

In [48]:
'Address' in mydict1

True

# All / Any 
The all() method returns: 
### True - If all all keys of the dictionary are true 
### False - If any key of the dictionary is false 
The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [49]:
mydict1 = {'Name':'Akshay' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Finland' }
mydict1

{'Name': 'Akshay', 'ID': 12345, 'DOB': 1991, 'Address': 'Finland'}

In [50]:
all(mydict1) # Will Return false as one value is false (Value 0)

True